// Color Variables

$white: #fff !default;
$black: #000 !default;

//body bg color
$body-color: #f7f6f2 !default;

$font-color: $black;

$baseline: 40px;
$margin: $baseline/4;

//font family
$font-family: 'Open Sans', sans-serif !default;
$font-family-alt: 'Rubik', sans-serif !default;

  $animation-duration: 200ms;